html{
    height: 103%;
    
}
body {
    background: linear-gradient(108deg, #5E3481 0%, #00B3B1 100%);
    margin: 60px;
    padding: 20px 10px;
    color: #000000;
    font-size: small;
    overflow-x: hidden;
    overflow: hidden; /* Esto desactivará el scroll */
}

 ::-webkit-scrollbar {
    width: 12px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.80);
    background: rgba(245, 245, 245, 0.09);
    backdrop-filter: blur(26.149999618530273px);
}

 ::-webkit-scrollbar-thumb {
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.80);
    background: rgba(94, 54, 130, 0.60);
    backdrop-filter: blur(26.149999618530273px);
}

 ::-webkit-scrollbar-track {
    background: linear-gradient(143deg, #1795A6 43.13%, #01B3B1 100%);
}



.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-container {
    display: flex;
    justify-content: space-between;

}

.menuFooter {
    flex: 1;

    color: #000000;
    padding: 15px;
    box-sizing: border-box;
}

.menuFooter {
    text-align: right;
}

.menuFooter ul {
    list-style-type: none;
    padding: 0;
}

.menuFooter li {
    display: inline;
    margin-right: 10px;
}

.menuFooter a {
    text-decoration: none;
    color: #8d0e43;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.80);
    background: rgba(217, 217, 217, 0.90);
    box-shadow: 0px 0px 11.3px 2px rgba(29, 29, 29, 0.25) inset;
    padding: 6px;

}


/* FOOTER */

.columna1footer {
    float: left;
    width: 50%;
    color: #000000;
}

.columna2footer {
    float: right;
    width: 50%;
    color: #000000;
}

.columna1footer a,
.columna2footer a {
    color: #7a1246;

    text-decoration: none;

}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.footer-container {
    display: flex;
    justify-content: space-between;

}

.columna1footer,
.columna2footer,
.menuFooter {
    flex: 1;

    color: #000000;
    padding: 15px;
    box-sizing: border-box;

}

.ytlogobucle{
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

section h1{
    color: #ffffff;
    text-align: left;
    font-family: "SegoeUiVariable-RegularDisplay", sans-serif;
    font-size: 106px;
    -webkit-text-stroke: 2px #ffffff;
    
}

h2{
    color: #ffffff;
    text-align: left;
    font-family: "SegoeUiVariable-RegularDisplay", sans-serif;
    font-size: 36px;
  
}

.txtelements{
    color: #ffffff;
    text-align: left;
    font-family: "SegoeUiVariable-RegularDisplay", sans-serif;
    font-size: 19px;
}


ul {
list-style-type: none; /* Quita los puntos de la lista */
padding: 0; /* Elimina el relleno predeterminado de la lista */
margin: 0; /* Elimina el margen predeterminado de la lista */
max-width: 800px;
}
/* REDES SOCIALES */

/* Contenedor para los botones sociales */
.social-icons-container {

display: flex;
justify-content: left; /* Centra los botones horizontalmente */
margin-top: 20px; /* Espaciado superior */
}

/* Estilo para los botones sociales */
.social-icon {
display: inline-block;
margin: 10px;
transition: transform 0.3s ease-in-out;
border-radius: 20px; /* Radio del borde */
padding: 5px; /* Espaciado interno */
}

.social-icon img {
width: 50px; /* Tamaño de la imagen */
}

.social-icon:hover {
transform: scale(1.2); /* Cambia el tamaño del icono al pasar el cursor */
}

.txtelements2{
color: #ffffff;
    text-align: left;
    font-family: "SegoeUiVariable-RegularDisplay", sans-serif;
    font-size: 16px;
}
/* Estilos para las miniaturas de los vídeos */
.video-thumbnail {
width: 100%;
height: auto;
border-radius: 10px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
transition: transform 0.3s ease;
}

.video-thumbnail:hover {
transform: scale(1.05);
}

/* CARD 3d */
.card {
position: relative;
width: 600px;
height: 800px;
perspective: 1000px;
}

.card-inner {
position: absolute;
width: 100%;
height: 100%;
transform-style: preserve-3d;
transform: rotateY(-25deg); /* Inclinar hacia la izquierda desde el principio */
transition: transform 0.5s;
}

.card:hover .card-inner {
transform: rotateY(0deg); /* Rotación de regreso a la posición normal al pasar el cursor */
}

.card-front, .card-back {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
border-radius: 10px;
background: linear-gradient(
154.38deg,
rgba(84, 83, 86, 1) 0%,
rgba(113, 51, 206, 1) 0.009999999747378752%,
rgba(49, 201, 203, 1) 100%
);
box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
padding: 20px;
}

.card-back {
transform: rotateY(180deg);
background-color: #f0f0f0;
}

/* dentro de CARD 3d*/
.support-me,
.support-me * {
box-sizing: border-box;
}
.support-me {
color: #ffffff;
text-align: left;
font-family: "SegoeUiVariable-RegularDisplay", sans-serif;
font-size: 66px;
font-weight: 400;
margin-bottom: 50px;
position: relative;
height: 0;
display: flex;
align-items: center;
justify-content: flex-start;
-webkit-text-stroke: 2px #ffffff;
}
.github,
.github * {
box-sizing: border-box;
}
.github {
color: #ffffff;
text-align: left;
font-family: "SegoeUiVariable-RegularDisplay", sans-serif;
font-size: 102px;
line-height: 0;
font-weight: 400;
margin-top: 40px;
margin-bottom: 50px;
position: relative;
display: flex;
align-items: center;
justify-content: flex-start;
-webkit-text-stroke: 3px #ffffff;
}
.imagegit{
width: 100%;
}
.card h3{
color: #f0f0f0;
font-size: 20px;

}
.ph{
float: left;

}
.logo{
width: 200px;
}
.container {
display: flex;
align-items: center;
justify-content: space-between;
}

.container img {
max-width: 50%; /* Ajusta el ancho máximo de la imagen según tus necesidades */
}

.container p {
max-width: 50%; /* Ajusta el ancho máximo del texto según tus necesidades */
}

/* nav*/
nav {
background-color: #22222200;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 60px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 20px;
z-index: 1000;

}

nav img {
width: 40px;
height: auto;
}

nav ul {
margin: 10px;
padding: 0;
list-style-type: none;
display: flex;
align-items: center;

/* Alinea verticalmente los elementos */
}

nav ul li {
margin-right: 20px;
}

nav ul li:last-child {
margin-right: 0;
}

nav ul li a {
color: white;
text-decoration: none;
font-weight: bold;
}
/* Estilos para el campo de búsqueda */

nav input[type="text"] {
margin-left: auto;
margin-right: 2%;
/* Alinear a la derecha */
padding: 5px;
width: 150px;
/* Ancho del campo de búsqueda */
border-radius: 5px;
background: rgba(240, 240, 240, 0.9);
border-radius: 17px;
border-style: solid;
border-color: rgba(216, 216, 216, 0.76);
border-width: 3px;
box-shadow: inset 0px 0px 11.3px 4px rgba(0, 0, 0, 0.25);
}
/* Estilos para los botones */

nav button {
margin-left: 20px;
/* Añadir margen a los botones */
padding: 8px 16px;
border-radius: 5px;
border: none;
background-color: #333;
color: #ffffff;
font-weight: bold;
cursor: pointer;
}

nav button:last-child {
margin-right: 0;
}
#menu-toggle {
display: block;
background: none;
border: none;
cursor: pointer;
padding: 10px;
margin-left: 80%;
}

#menu-toggle span {
display: block;
width: 24px;
height: 3px;
background-color: #fff;
margin-bottom: 5px;
}

/* Estilos para mostrar el menú */
nav ul.active {
display: flex !important;
flex-direction: column;
background-color: #2222229d;
position: absolute;
top: 60px;
left: 10px;
width: 86%;
border-radius: 20px;
font-size: 20px;
line-height: 1.5; /* Ajusta el espaciado entre las palabras del menú */
}

nav ul.active li {
margin-right: 0;
}

nav ul.active li a {
color: #fff;
padding: 10px;
}

/* Estilos para el botón de menú cuando está activo */
#menu-toggle.active span {
background-color: transparent;
}

#menu-toggle.active span:nth-child(2) {
transform: translateY(8px) rotate(45deg);
}

#menu-toggle.active span:nth-child(3) {
transform: translateY(-8px) rotate(-45deg);
}
/* Ajustamos la altura del footer */


/* @MEDIAS DE PANTALLA*/

/* Media query para pantallas de hasta 768px de ancho (dispositivos móviles) */
@media only screen and (max-width: 968px) {
body {
margin: 0; /* Elimina el margen en dispositivos móviles */
overflow: scroll; /* desactiva el scroll */
}

#content {
flex-direction: column; /* Cambia la dirección del contenido a columnas */
align-items: center; /* Centra los elementos en el eje horizontal */
}
.txtelements{
margin-top: 9%;
}

.gif,
.social-icons-container,
.txtelements:last-child:not(:nth-last-child(2)) { /* Oculta el último elemento txtelements que no es el penúltimo */
display: none; /* Oculta el div del gif, las redes sociales y el div del desarrollador */
}

.columna1footer,
.columna2footer {
width: 100%; /* Ajusta el ancho de las columnas del footer al 100% */
text-align: center; /* Centra el texto en las columnas del footer */
}

/* Añadimos estilos para los divs de la izquierda */
#content > div:nth-child(1),
#content > div:nth-child(2) {
width: 100%; /* Los divs de la izquierda ocupan el 100% de ancho */
}


nav  {
width: 100%;
}
nav ul {
display: none; /* Ocultar el menú en dispositivos móviles */
}
nav #menu-toggle{
float: right;
display: block;
margin-left: 75%;
}

}
/* Para portátil */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
nav ul {
display: flex;
}

nav #menu-toggle{
display: none;
}

}

/* Para PC */
@media only screen and (min-width: 1025px) {
nav ul {
display: flex;
}

nav #menu-toggle{
display: none;
}
}
