:root {
    --navleft: rgb(37, 37, 37);
    --navtop: rgb(27, 27, 27);
    --buttonback: rgb(30, 30, 30);
    --letters: rgb(243, 243, 243);
    --background: rgb(48, 48, 48);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background);
}

#top-nav {
    background-color: var(--navtop);
    color: #fff;
    padding: 10px;
    position: relative;
    height: 16px;
    border-bottom: 4px solid;
    border-image: linear-gradient(to right, #5E3481, #00B3B1);
    border-image-slice: 1;
}

#top-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 70px;
}

#toolnavtop {
    color: #fff;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 1px;
    display: inline-block;
}

#toolnavtop a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 70px;
}

#toolnavtop button {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 70px;
    cursor: pointer;
}

#toolnavtop svg {
    width: 20px;
    position: absolute;
    top: 7px;
    margin-left: -30px;
}

#wrapper {
    display: flex;
    height: calc(100vh - 40px);
    /* 100% of the viewport height minus the height of the nav */
}

#navtool {
    background-color: var(--navleft);
    max-width: 200px;
    /* Maximum width of navtool */
    padding: 20px;
}

#container {
    display: grid;
    grid-template-areas:
        "top-left top-right"
        "bottom-left bottom-right";
    grid-template-columns: 1fr 1fr;
    /* Equitably divide into two columns */
    grid-template-rows: 1fr 1fr;
    /* Equitably divide into two rows */
    padding: 0;
    background-color: var(--background);
    flex: 1;
    /* Takes up remaining space */
    border: 4px solid transparent;
    border-top: none;
    border-image: linear-gradient(108deg, #5E3481 0%, #00B3B1 100%);
    border-image-slice: 1;
}

.corner {
    padding: 0;
    background-color: #303030;
    border: 1px solid #000;
    margin: 0;
}

.corner1 {
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #000;
    margin: 0;
}

#top-left,
#top-right,
#bottom-left,
#bottom-right {
    padding: 0;
    margin: 0;
}

#top-left {
    grid-area: top-left;
    position: relative;
}

#top-right {
    grid-area: top-right;
    position: relative;
}

#bottom-left {
    grid-area: bottom-left;
    position: relative;
}

#bottom-right {
    grid-area: bottom-right;
    position: relative;
}

/* Styles for Monaco editors */
.monaco-editor {
    width: 100%;
    height: calc(100% - 30px);
    /* Editor height minus button height */
}

/* Full button styles */
.full-button {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 999;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

/* Nav buttons */
#toptools .buttonclear,
#toptools .buttontool,
#toptools .buttonclearall {
    width: 100%;
    height: 5em;
    border: 0;
    margin-top: 5%;
    color: var(--letters);
    font-display: block;
    border-radius: 10px;
    box-shadow: inset 0px -2px 19.6px 0px rgba(0, 0, 0, 0.25);
}

#toptools .buttonclear {
    background-color: #341a44;
}

#toptools .buttonclear:hover {
    background-color: #321842;
    box-shadow: -6px 6px 39.5px 0px rgba(0, 0, 0, 0.25);
}

#toptools .buttontool {
    background-color: #1d1d1d;
}

#toptools .buttontool:hover {
    background-color: #2b2a2a;
    box-shadow: -6px 6px 39.5px 0px rgba(0, 0, 0, 0.25);
}

#toptools .buttonclearall {
    background-color: #520b2e;
}

#toptools .buttonclearall:hover {
    background-color: #470a38;
    box-shadow: -6px 6px 39.5px 0px rgba(0, 0, 0, 0.25);
    border: 4px solid rgb(155, 7, 110);
}

#toptools select {
    width: 100%;
    height: 5em;
    background-color: #1d1d1d;
    border: 0;
    margin-top: 5%;
    box-shadow: inset 0px -2px 19.6px 0px rgba(0, 0, 0, 0.25);
    color: var(--letters);
    font-display: block;
}

#navtool {
    background-color: var(--navleft);
    max-width: 200px;
    padding: 20px;
}

#conf {
    width: 220px;
    height: 10%;
    background-color: #201f1f;
    position: absolute;
    bottom: 20px;
    border-radius: 10px;
    left: 10px;
    box-shadow: inset 0px -2px 19.6px 0px rgba(0, 0, 0, 0.25);
}

#conf1 {
    position: relative;
    margin-top: 5px;
}

#conf h3 {
    position: absolute;
    top: -52px;
    left: 13%;
    color: var(--letters);
}

#conf h4 {
    color: var(--letters);
    margin-left: 10px;
    margin-bottom: 7px;
}

#conf button {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.logonav {
    position: absolute;
    left: 10px;
    background: linear-gradient(107.56deg, rgba(56, 5, 107, 1) 0%, rgba(134, 215, 213, 1) 100%);
    border-radius: 10px;
    width: 60px;
}


.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #1d1d1d;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Fullscreen styles */
.fullscreen #top-left,
.fullscreen #top-right,
.fullscreen #bottom-left {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: auto;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1b1b1b;
}

::-webkit-scrollbar-thumb {
    background: #292929;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.language-logo-container {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 1;
    pointer-events: none;
}

.language-logo {
    width: 100%;
    height: 100%;
}

#zoomValue {
    color: var(--letters);
    font-weight: bold;
}

#zoom {
    color: var(--letters);
    font-weight: bold;
}

#zoomSlider::-webkit-slider-runnable-track {
    background-color: rgb(90, 20, 104);
    border-radius: 20px;
}

/* Popup styles */
#popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 999; /* Asegura que esté por encima de otros elementos */
    justify-content: center;
    align-items: center;
}

/* Estilos para el contenido del popup */
#popup-content {
    background-color: #242424;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 80%; /* Limita el ancho para que no sea demasiado grande */
    text-align: center;
}


.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #1d1d1d;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
}

.language-logo-container {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 1;
    pointer-events: none;
}

.language-logo {
    width: 100%;
    height: 100%;
}

#zoomValue {
    color: var(--letters);
    font-weight: bold;
}

#zoom {
    color: var(--letters);
    font-weight: bold;
}

#zoomSlider::-webkit-slider-runnable-track {
    background-color: rgb(90, 20, 104);
    border-radius: 20px;
}
